<div class="page">
    <div class="hero-img">
        <img src="graduation.webp">
        <h1>Continuing Past Graduation</h1>
    </div>
    <h2>How to Continue Past Graduation</h2>
    <p>Moving past graduation, we should strive to be a lifelong scholar. In Univ 101, I learned that part of college is learning how to learn. During my life outside of college, I should not stop learning; I should always be willing to learn. Being a lifelong scholar is made easier by centering yourself on Christ. He can teach us so much, and if we are to become lifelong scholars, we need to follow His example. </p>
    <p>Learning more will help us become more competent and able to serve others. We should be lifelong disciples as well as lifelong learners. Keeping up to date with technology and learning different subjects gives you a greater ability to help serve others. It helps us become a mentor to others, always willing to apply what we know to help others. As we move on from college, we should keep on learning new things and keep our minds sharp. </p>
</div>