@import '../../variables';

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: $primary-light;
}
.nav-img{
    height: 100px;
    width: auto;
    margin-right: 10px;
}
.nav-button{
    padding: 40px 10px 30px 10px;
}
.nav-title{
    font-size: 30px;
}
.name{
    margin-right: 15px;
}
