<div class="page">
    <div class="hero-img">
        <img src="byu_campus.jpg">
        <h1>Univ 101 Website</h1>
    </div>
    <h2>What We learned in Univ 101</h2>
    <p>In Univ 101, we learned a variety of principles that can be applied throughout our entire lives. Univ 101 is an amazing place to meet great people and learn lifelong lessons. In this website, I hope to outline some big takeaways and important lessons from Univ 101.</p>

    <div class="options">
        <div class="option" [routerLink]="'/disciple scholar'">
            <h3>Becoming a Disciple Scholar</h3>
            <img src="handshake.jpeg">
        </div>

        <div class="option" [routerLink]="'/finding a mentor'">
            <h3>Finding a Mentor</h3>
            <img src="mentor.jpg">
        </div>

        <div class="option" [routerLink]="'/use campus resources'">
            <h3>Use Campus Resources</h3>
            <img src="campus-resources.jpg">
        </div>

        <div class="option" [routerLink]="'/continue past graduation'">
            <h3>Continue Past Graduation</h3>
            <img src="graduation.webp">
        </div>
    </div>
</div>
