<div class="page">
    <div class="hero-img">
        <img src="mentor.jpg">
        <h1>Finding a Mentor</h1>
    </div>
    <h2>The Importance of a Mentor</h2>
    <p>Part of the reason why a good mentor is so important is because they are willing to tell you what you don’t want to hear. When President Eyring talked with Herbert Simon, he was able to better understand what he could to improve his work. Being willing to critically analyze your peer’s works is important because part of a mentor’s goal is to provide constructive advice to help you improve. Also, once you have found a mentor, you need to communicate with them. If you do not consistently communicate with your mentor, it shows them that you are uninterested because you do not trust them. One of the ways I will seek a mentor this semester is getting writing advice from the writing center. People at the writing center will mentor you for a certain amount of time and give you advice. My professors are also mentors, so it is good to follow up with them to make sure you are interested in learning.</p>
</div>