<div class="page">
    <div class="hero-img">
        <img src="campus-resources.jpg">
        <h1>Using Campus Resources</h1>
    </div>
    <h2>How to Find Campus Resources</h2>
    <p>If you are paying tuition at BYU, you should be taking full advantage of the many campus resources BYU offers. At <a href="https://ctbadvisement.byu.edu/campus-resources#:~:text=Academic%20Related%20Resources%201%20College%20Advisement%20Centers%20-,help%20you%20need%20to%20thrive%20in%20your%20classes%21" target="_blank">Campus Student Resources</a>, you can find the many campus resources offered by BYU.</p>
    <p>One campus resource that I often used was the Research and Writing Center. If you struggle with writing or research like me, this is the place to go. When I went in, I read through my paper with another person and they helped me refine it. I ended up getting a good grade on my paper and great advice on how to write better! I strongly recommend to book an appointment at least once during your freshman experience at BYU. </p>
    <p>Another great resource Univ 101 helped bring to my attention was my academic advisor. I was having a lot of trouble figuring out how to put together my schedule for next semester, so I went in and they helped me iron it out. I am now confident on my plan moving forward in my education! </p>
</div>